<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ideation</title>
</head>
<body>
    <center><H1>i fragments</H1></center>
    <h3><a href="/">back</a></h3>
    <div class="row LoginPass" style="width: 300px;margin: 0 auto;text-align:-webkit-center;margin-top: 160px;background: #F1F1F1; padding: 40px;">
        <div class="input-field col s9"><input id="PassCode_InputID" type="text" class="PassCode_Input"><label for="PassCode_InputID" class="active">Pass Code</label></div><div class="col s3"><a class="btn-floating btn-large waves-effect waves-light red submitButtonD"><i class="material-icons">lock_open</i></a></div></div>
</body>
</html>