 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Project Enigma</title>
     <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
 </head>
 <body>
     <h1>TEAM ENIGMA</h1>
     <h3><a href="htmlA">MANUFACTURE</a></h3>
     <h3><a href="htmlB">CRUNCH</a></h3>
     <center><img src="static\resources_web\catpaw.jpg" style="width: 40%;height: 40%;"  alt="catpaw rises"></center>
 </body>
 </html>