<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warning</title>
</head>
<body style="background-color: darksalmon;">
    <div align="right"><img src="/static/resources_web/gray_shield.png" alt="SECURE REDIRECTION"
        style="height: 200px; width: 200px;"></div>
    <h1 style="color: ghostwhite;">SECURE REDIRECTION:<br> You have been redirected to this page due to one of the following reasons,
    </h1>
    <ul style="font-size: 20px;">
    <li style="color: ghostwhite;">Entering invalid username or password upon login</li>
    <li style="color: ghostwhite;">Passwords not matched upon creating account</li>
    <li style="color: ghostwhite;">You have not entered all neccessary data upon account creation</li>
    <li style="color: ghostwhite;">You already have a pre-existing account,<br>and trying to create an account with the same username or email</li>
    </ul>
    <br><h3><a href="new_acc" style="color: brown;">Return to the account creation page</a></h3>
    <h3><a href="/" style="color: brown;">Return to the Main page</a></h3>
</body>
</html>