<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/nav.css">
    <title>Cotton Kart</title>
</head>
<body>
    <div>
    <header align="center"
    style="background-color: blanchedalmond;
     font-family: 'Courier New', Courier, monospace;
      color: brown;
       margin: 0px; font-size: 60px;"><img src="/static/resources_web/clothinline.svg" alt="COTTON KART"></header>
    </div>
    <div id="navbar"><ul>
        <li class="active"><a class="active" href="/s">Home</a></li>
        <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
        <li><a href="/c">Cart</a></li>
        <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
        <li><a href="/a">About</a></li>
        <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
        <li style="float: right;"><a href="/">Log out</a></li>
      </ul></div>
    <div>Lorem ipsum dolor, sit amet consectetur <br> adipisicing elit. Earum odit neque, omnis commodi unde <br> aperiam consequatur. Consequatur voluptas repudiandae eum laborum,<br> sit tempora amet, minima provident atque sed cupiditate libero.</div>
    <div>Lorem ipsum dolor, sit amet consectetur <br> adipisicing elit. Earum odit neque, omnis commodi unde <br> aperiam consequatur. Consequatur voluptas repudiandae eum laborum,<br> sit tempora amet, minima provident atque sed cupiditate libero.</div>
    <div>Lorem ipsum dolor, sit amet consectetur <br> adipisicing elit. Earum odit neque, omnis commodi unde <br> aperiam consequatur. Consequatur voluptas repudiandae eum laborum,<br> sit tempora amet, minima provident atque sed cupiditate libero.</div>
    <div>Lorem ipsum dolor, sit amet consectetur <br> adipisicing elit. Earum odit neque, omnis commodi unde <br> aperiam consequatur. Consequatur voluptas repudiandae eum laborum,<br> sit tempora amet, minima provident atque sed cupiditate libero.</div>
    <div>Lorem ipsum dolor, sit amet consectetur <br> adipisicing elit. Earum odit neque, omnis commodi unde <br> aperiam consequatur. Consequatur voluptas repudiandae eum laborum,<br> sit tempora amet, minima provident atque sed cupiditate libero.</div>
    <div>Lorem ipsum dolor, sit amet consectetur <br> adipisicing elit. Earum odit neque, omnis commodi unde <br> aperiam consequatur. Consequatur voluptas repudiandae eum laborum,<br> sit tempora amet, minima provident atque sed cupiditate libero.</div>
    <div>Lorem ipsum dolor, sit amet consectetur <br> adipisicing elit. Earum odit neque, omnis commodi unde <br> aperiam consequatur. Consequatur voluptas repudiandae eum laborum,<br> sit tempora amet, minima provident atque sed cupiditate libero.</div>
    <div>Lorem ipsum dolor, sit amet consectetur <br> adipisicing elit. Earum odit neque, omnis commodi unde <br> aperiam consequatur. Consequatur voluptas repudiandae eum laborum,<br> sit tempora amet, minima provident atque sed cupiditate libero.</div>
    <div>Lorem ipsum dolor, sit amet consectetur <br> adipisicing elit. Earum odit neque, omnis commodi unde <br> aperiam consequatur. Consequatur voluptas repudiandae eum laborum,<br> sit tempora amet, minima provident atque sed cupiditate libero.</div>
    <div>Lorem ipsum dolor, sit amet consectetur <br> adipisicing elit. Earum odit neque, omnis commodi unde <br> aperiam consequatur. Consequatur voluptas repudiandae eum laborum,<br> sit tempora amet, minima provident atque sed cupiditate libero.</div>
    <div>Lorem ipsum dolor, sit amet consectetur <br> adipisicing elit. Earum odit neque, omnis commodi unde <br> aperiam consequatur. Consequatur voluptas repudiandae eum laborum,<br> sit tempora amet, minima provident atque sed cupiditate libero.</div>
    <div>Lorem ipsum dolor, sit amet consectetur <br> adipisicing elit. Earum odit neque, omnis commodi unde <br> aperiam consequatur. Consequatur voluptas repudiandae eum laborum,<br> sit tempora amet, minima provident atque sed cupiditate libero.</div>
    <div>Lorem ipsum dolor, sit amet consectetur <br> adipisicing elit. Earum odit neque, omnis commodi unde <br> aperiam consequatur. Consequatur voluptas repudiandae eum laborum,<br> sit tempora amet, minima provident atque sed cupiditate libero.</div>
    <div>Lorem ipsum dolor, sit amet consectetur <br> adipisicing elit. Earum odit neque, omnis commodi unde <br> aperiam consequatur. Consequatur voluptas repudiandae eum laborum,<br> sit tempora amet, minima provident atque sed cupiditate libero.</div>
    <div>Lorem ipsum dolor, sit amet consectetur <br> adipisicing elit. Earum odit neque, omnis commodi unde <br> aperiam consequatur. Consequatur voluptas repudiandae eum laborum,<br> sit tempora amet, minima provident atque sed cupiditate libero.</div>
    <div>Lorem ipsum dolor, sit amet consectetur <br> adipisicing elit. Earum odit neque, omnis commodi unde <br> aperiam consequatur. Consequatur voluptas repudiandae eum laborum,<br> sit tempora amet, minima provident atque sed cupiditate libero.</div>

    <script>
        window.onscroll = function() {myFunction()};
        
        var navbar = document.getElementById("navbar");
        var sticky = navbar.offsetTop;
        
        function myFunction() {
          if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky")
          } else {
            navbar.classList.remove("sticky");
          }
        }
    </script>
        

</body>
</html>