<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Created Successfully</title>
</head>
<body style="background-color:azure;">
    <div style="line-height: 20px;"><br> <br> <br> <br> <br> <br> <br>  </div>
    <div align="center" style="background: ga;"">
    <img src="/static/resources_web/green_tick.png" style="height: 200px; width: 200px;"><br>
    <h1 style="font-family: monospace;
    color: #4caf50;">
        ACCOUNT SUCCESSFULLY CREATED</h1><br>
    <a href="/" style="font-family: monospace;">Click here to return to main page if not redirected automatically</a>
    
    </div>
</body>
</html>