<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/login.css">
<title>
login page
</title>
</head>
<body style="background-image:url({{url_for('static',filename='wp4128840.jpg')}});background-size:100%;">
    <form action="{{url_for('home')}}" method="post">
    <div align="center"> 
    <img src="/static/cooltext415427528106191 (1).png"alt="INDIAN AIRLINES" align="center">
    </div>
<h4>
<br>
<br>
<br>
<br>
<div align="center">
<p style="font-family:ALGERIAN;"">
LOGIN PAGE !!
</p>
<table id="blur" style="border-radius:10px">
<td>
    <input class="text_box" type='text'name="username" placeholder='username'><br>
    <input class="text_box" type='password'name="password" placeholder='password'>
</td>
</table>
<input class="btn-success" type='submit' style="font-size: 14px;" value='Login'>
<a href="/a">
<input class="btn-success" style="font-size: 14px;" type='button' value='Create Account'>
</a>
</h4>
</form>
</body>
</html>