<!DOCTYPE html>
<html lang="en">
    <head>
        <title>secured</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body style=" background-image:url({{url_for('static',filename='cc.jpeg')}});background-repeat:no-repeat;">
        
        <h1>
        <div align="center">
        <br>
        
        <br>
        <p style="font-family: cursive ;color: yellow">
        ⬥FILL THE REQUIRED FIELD!!<br>
        ⬥︎ USER NAME IS REPEATED<br>
        ⬥SET YOUR PASSWORD PROPERLY
        </p> <a href="/"> click here to return</a>
    </h1>
</div>
</style>
    </body>
</html>