<!DOCTYPE html>
<html lang="en">
    <head>
        <title>accont succ</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body style="background-image:url({{url_for('static',filename='green_tick.png')}});background-size:20%;background-repeat:no-repeat;">
    
         <div align="center">
        <h1>
            <br>
            <br>
            <br>
      YOUR ACCOUNT IS SUCCESSFULLY CREATED!<br>
     <a href="/"> click here to login</a>
    
    </h1>
    </div>
</body>
</html>