<<!DOCTYPE html>
<html lang="en">
    <head>
        <title>login fail</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body style=" background-image:url({{url_for('static',filename='okk.jpeg')}});background-repeat:no-repeat;"></body>>
        <div align="center">
    <h1>
<br>
<br>
<br>
<p style="font-family: cursive ;color: yellow">          
 Login Failed<br>
 Your username or password do not match.<br>
</p> <a href="/"> click here to return</a>

    </h1>
       
    </div>
    </body>
</html>