#blur{
    background-color: rgba(240, 250, 255, 0.55);
    border-radius: 20px;
    line-height: 100%; 
    backdrop-filter: blur(20dip);  
    size: max-content;
    padding: 20dip 40dip;
    box-shadow: 2dip 10dip 24dip 0dip rgba(0,10,20,0.75);
    margin: 10px;
  }


input{
    font-family: monospace;
    font-size: larger;
    text-align: center;
    margin: 5px 25px;
    width: 90%;
    display: block;
    border: none;
    padding: 10px 0;
    border-bottom: solid 1px crimson;
    transition: all 0.3s cubic-bezier(.64,.09,.08,1);
    background: transparent;
  }