<html>
    <head>
        <title>
            ACCOUNT CREATION
        </title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/acc.css">
        <style>tr { 
            margin: 5px;
        }</style>
    </head>
    <body style="background-image:url({{url_for('static',filename='pastelpic.jpg')}});background-repeat:no-repeat;background-size:100%;">
        <form action="{{url_for('cre')}}" method="post">
        <div align="center">
        <br><h1>CREATE ACCOUNT</h1><br>
        <table id="blur">
            <tr>
                <td>
                <h3>NAME</h3>
                </td>
                <td>
                <input type="text" name="name" placeholder="enter name"><br>
                <br>
                </td>
            </tr>
            <br>
            <tr>
                <td>
                <h3>USERNAME</h3>
                </td>
                <td>
                <input type="text" name="username" placeholder="enter username"><br>
                <br>
                </td>
            </tr>
                <tr>
                <td>
                <h3>PASSWORD:</h3>
                </td>
                <td>
                <input type="password"  name="password"  placeholder="enter password"><br>
                <br>
                </td>
                </tr>
                <tr>
                <td>
                <h3> CONFIRM PASSWORD:</h3>
                </td>
                <td>
                <input type="password"  name="confirm password"  placeholder="enter confirm password"><br>
                <br>
                </td>
                </tr>
                <tr>
                <td>
                <h3>MAILID:</h3>
                </td>
                <td>
                <input text="mailid" name="mailid" placeholder="enter mailid"><br>
                <br>
                </td>
                </tr>
                <tr>
                <td>
                <h3>CONTACTNO:</h3>
                </td>
                <td>
                <input text="number" name="contactno"  placeholder="enter contactno"><br>
                <br>
                </td>
                </tr>
                <tr>
                <td>
                <h3>LOCATION</h3>
                </td>
                <td>
                <input type="text" name="location" placeholder="enter location"><br>
                <br>
                </td>
                </tr>
        </table>
        <table>
            <tr>
                <td>
                    <h4><input class="btn-outline-info" type="submit" value="submit"></h4>
                </td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>
                    <h4><input class="btn-outline-info" type="button" value="reset"></h4>
                </td>
        </table>
        </div>
        </form>
    </body>
</html>