<html>
    <head>
        <title>
            online train booking
        </title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/home.css">
    </head>
    <body style="background-image:url({{url_for('static',filename='58ba30b6-425a-4fb6-8989-edda5acd8ed3.jpg')}});background-repeat:no-repeat;background-size:100%;">
        <form action="{{url_for('pg')}}" method="post">
        <div align="center">
            <br>
            <br>
            <h1>BOOK TRAIN TICKETS</h1>
            <br>
            <br>
            <tr>
                <td>
                    <b>FROM:</b>
                    <input type="text"  name="from" placeholder="enter from">
                </td>
                <td>
                    <b>TO:</b>
                </td>
                <td>
                    <input type="text" name="to" placeholder="enter to">
                <br>
                <br>
                </td>
                <br>
                <td>
                    <b>JOURNEY DATE:</b>
                </td>
                <td>
                    <input type="date" name="date" placeholder="date"><br>
                </td>
                <br>
                <td>
                    <b>NO.OF SEATS:</b>
                </td>
                <td>
                    <input type="number" name="number" placeholder="enter no.of.seats">
                </td>
                <br>
                <br>
                <br>
                <td>
                    <h4>SEAT TYPES:</h4>
                </td>
                <td>
                    <b>CLASSES:</b>
                </td>
                <h3><label for="classes"></label></h3>
                    <select name="classes">
                    <option value="first class">First Class(FC)</option>
                    <option value="ac chair class">AC Chair Class(CC)</option>
                    <option value="sleeper class">Sleeper Class(SL)</option>
                    <option value="second class">Second Class(2S)</option>
                    <option value="General Class">General Class(2S)</option>
                    <option value="Air-Conditional Executive Chair"> Air-Conditional Executive Chair Class(EC)</option>
                    <option value="Air-Conditional First Class">Air-Conditional First Class(1AC)</option>
                    <option value="Air-Conditional two-tier"> Air-Conditional Two-Tier Class(2AC)</option>
                    <option value="Air-Conditional three-tier">Air-Conditional Three-Tier Class(3AC)</option>
                    </select>
            </tr>
                <br>
                   <h4><br><input class=" btn-success" type="submit" value="search trains"></h4>
        </div>
        </form>
    </body>    
</html>