<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>train booking</title>
    </head>
    <body>
        <h1>account creation</h1>
        <div>
            <table>
                <tr>
                    <td>
                        first name
                    </td>
                    <td>
                        <input type="text" placeholder="enter your first name">
                    </td>
                </tr>
                <tr>
                    <td>
                        last name
                    </td>
                    <td>
                        <input type="text" place holder="enter your last name">
                    </td>
                </tr>
                <tr>
                    <td>
                        username
                    </td>
                    <td>
                        <input type="text" place holder="enter your username">
                    </td>
                </tr>
                <tr>
                    <td>
                        password
                    </td>
                    <td>
                        <input type="number" placeholder="enter your password">
                    </td>
                </tr>
                <tr>
                    <td>
                        mailid
                    </td>
                    <td>
                        <input type="mail" placeholder="enter your mailid">
                    </td>
                </tr>
                <tr>
                    <td>
                        phoneno
                    </td>
                    <td>
                        <input type="number" placeholder="enter your phoneno">
                    </td>
                </tr>
                <tr>
                    <td>
                        location
                    </td>
                    <td>
                        <input type="text" placeholder="enter your location">
                    </td>
                </tr>
            </table>
            <input type="button" value="submit">
            <input type="button" value="reset">
        </div>
    </body>
</html>